/* Password Page Stylings */
#protected {
	text-align: center;
	padding: 185px;
}

/* Nav bar in every page */
#navBar {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:#282828;
	display: none;
}

/* Items in the nav bar */
li a {
	font-weight: 500;
	font-size: 20px;
	color: white;
}

header {
	display: flex;
	justify-content: flex-end;
	padding: 30px 10%;
	align-items: center;
}

#navLinks {
	list-style: none;
}

#navLinks li {
	display: inline-block;
	padding: 0px 20px;
}

#navLinks li a {
	transition: all 0.3s ease 0s;
}

#navLinks li a:hover {
	color: lightgoldenrodyellow
}

#documents {
	padding: 20px 10%;
	margin-right: 20px;
	float: left;
}

/* Making sure the hyperlink is black */
#link {
	text-decoration: none; 
	color: white;
	font-size: 38px;
}

/* Meet the Team header in the Team page */
#teamHeaderDiv {
	padding-left: 155px;
	font-size: x-large;
}

/* Body of the Team page */
#teamBodyDiv {
	padding-left: 175px;
	display:inline-block;
	vertical-align:top;
}

/* Team Picture in the Team page */
#teamPic {
	margin-right: 15px;
	float: left;
}

/* The font size for the description of each member */
#teamBioP {
	font-size: 23px;
}

/* Each name for the dev team */
#name {
	font-size: 25px;
	font-weight: bold;
}

#cName {
	font-size: 25px;
	font-weight: bold;
	padding-top: 15px;
}

#nameRight {
	font-size: 25px;
	font-weight: bold;
}

/* Thank you header for the index page */
#indexThanks {
	font-size: 60px;
	text-align: center;
}

/* Thank you letter to everyone in the index page and the stylings for the project description in the About the Project Page*/
#pThanks, #projectDesc {
	padding-left: 125px;
	padding-right: 125px;
	text-align: center;
	font-size: 30px;
}

#navLogo {
	position: absolute;
	left: 125px;
}

#divText {
	font-size: 15px;
	padding-left: 1010px;
	padding-top: -1000px;
}
 #divLogo  {
	text-align: center;
	font-size: 15px;
}

#camosunAltText {
	font-size: 15px;
	text-align: center;
	padding-left: 155px;
}

#bodyText {
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 7%;
	font-size: 25px;
}

#combined {
	padding-top: 20px;
}

#camosunIcon {
	width: 350px;
}

#icon {
	display: inline-block;
}

#MLCLogo {
	display: inline-block;
	padding-left: 115px;
}

/* #intro {
	float: left;
} */

#docLinks {
	color: blue;
	font-size: 25px;
}


#footerText {
	color: white;
}

h1 {
	/* text-align: center; */
	text-decoration: underline;
}

#thankYouGif {
display: inline-block;
float: right;
}

 #joText, #cText {
	font-size: 15px;
	padding-left: 25px;
}

#landPageText{
	font-size: 15px;
	padding-left: 255px;
}

#leftPic, #cText {
	float: left;
	clear: left;
}

#jText {
	font-size: 15px;
	padding-left: 25px;
}

#landingPage {
float: right;
padding-left: 35px;
}

#landPageAlt {
	font-size: 15px;
padding-left: 810px;
margin: 0;
}

#pdf {
	text-align: center;
	padding-top: 25px;
}

#textLeft {
	float: left;
}

#picRight {
	float: right;
}

#jName {
	text-align: right;
	font-weight: bold;
	float: right;
}

#jPic {
	float: right;
	clear: right;
	padding-left: 15px;
}

#middleText {
	padding-top: 65px;
	text-align: right;
}

#spaceUp {
	padding-top: 5px;
}

#spaceMoreUp {
	padding-top: 12px;
}

#bigger {
	font-size: 35px;
}